<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>survey</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>survey display</h1>
    <h1 class="text-right">{{user.first_name}}!!!</h1>
    <div class="text-right">
      <a href="/dashboard" class="btn btn-primary">dashboard</a>
      <a href="/logout" class="btn btn-info">Logout</a>
    </div>  
      </div>
    </nav>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
      <div class="card-body">
        <h2 class="card-title text-primary">survey</h2>
        <p class="card-text">
          name:
          <h6>{{survey.name}}</h6>
        </p>
        <p class="card-text">
          option1:
          <h6>{{survey.option1}}</h6>
        </p>
        <p class="card-text">
          option2:
          <h6>{{survey.option2}}</h6>
        </p>
        <p class="card-text">
          option3:
          <h6>{{survey.option3}}</h6>
        </p>
        <p class="card-text">
          option4:
          <h6>{{survey.option4}}</h6>
        </p>
        <p class="card-text">
          option5:
          <h6>{{survey.option5}}</h6>
        </p>
        <p class="card-text">
          option6:
          <h6>{{survey.option6}}</h6>
        </p>
        <p class="card-text">
          option7:
          <h6>{{survey.option7}}</h6>
        </p>
        <p class="card-text">
          option8:
          <h6>{{survey.option8}}</h6>
        </p>
        <p class="card-text">
          option9:
          <h6>{{survey.option9}}</h6>
        </p>
        <p class="card-text">
          option10:
          <h6>{{survey.option10}}</h6>
        </p>
        </p>
      </div>
    </div>
  </body>
</html>
